<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wish.mapper.BookUserMapper">

    <resultMap id="user" type="com.wish.model.dto.BookUserDTO" />

    <!-- 保存账本用户关系 -->
    <insert id="saveBookUser">
        insert into tb_book_user(book_id,user_id,invited_by)
        values(#{bookId},#{userId},#{invitedBy,jdbcType=VARCHAR})
    </insert>

    <sql id="columns">
        bu.id,bu.book_id bookid,bu.user_id userid,bu.invited_by invitedby,
        bu.join_time jointime,bu.status,bu.leave_by,bu.level_time
    </sql>

</mapper>